<!-- HTML -->
    <div id="container">
        <div class="content contentOne">
            <h1>Bem Vindo!!</h1>
            <p>Site feito para adicionar cadastros ligado ao mysql!!</p>

        </div>
        <div class="content contentTwo">
            <input type="text" name="nameUser" id="nameUser" class="textbox boxOne" placeholder="Nome">
            <input type="text" name="subName" id="subName" class="textbox boxTwo" placeholder="Sobrenome">
            <input type="email" name="" id="mail" class="textbox boxMail" placeholder="E-mail">
            <label for="nasc">Data de nascimento:
                <input type="date" name="nasc" id="nasc" class="datanasc">
            </label>
            <input type="button" value="Enviar" id="enviarDados">
        </div>
    </div>